.sheet-container {
	padding: 15px;
}

.sheet-section,
.sheet-header { /* width: min: 120px; max: 630px; height: min: 150px; max: 900px; */
	display: inline-block;
	position: relative;
	margin: auto;
}

.sheet-header {
	margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button {
	
}

.sheet-col1,
.sheet-col2 {
	clear: both;
	vertical-align: top;
}

.sheet-col1 {
	width: calc(25% - 15px);
	margin-right: 15px;
}

.sheet-col2 {
	width: calc(75% - 12px);
	margin-right: 0px;
}

.sheet-section .sheet-content {
	position: relative;
	height: auto;
	margin: 20px;
	padding: 2px;
	background-color: white;
}

.sheet-content label,
.sheet-content input {
	font-family: 'Rockwell', 'Courier New', 'Times New Roman', serif;
	font-weight: normal;
	font-size: 13px;
}

div.sheet-input-row {
	display: table;
	width: 100%;
}

.sheet-input-row label,
.sheet-input-row input {
	display: table-cell;
	width: 1px;
}

.sheet-input-row input {
	width: 100%;
}

.sheet-content input[type=text] {
	padding: 0;
	border-width: 0 0 1px;
	box-shadow: none;
	border-radius: 0;
	background-color: rgba( 0, 0, 0, 0 );
}

.sheet-content textarea {
	width: 100%;
	box-sizing: border-box;
	height: 64px;
}

.sheet-content table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	border: 1px solid #c9a800;
}

.sheet-content table td,
.sheet-content table th {
	padding: 12px 3px 12px;
	border: 1px solid #c9a800;
	width: 25%;
	font-size: 10px;
	position: relative;
}

.sheet-content table tfoot td,
.sheet-content table th {
	font-size: 13px;
	padding: 6px 3px 3px;
}

.sheet-content td input[type="radio"],
.sheet-content td input[type="radio"] + span {
	font-size: 10px;
	text-align: center;
	padding-top: 2px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border: 2px solid rgba(0,0,0,0);
	box-sizing: border-box;
}

.sheet-content td input[type="radio"]:checked + span {
	border-color: #c9a800;
	font-weight: bold;
	font-size: 12px;
}

.sheet-content td input[type="radio"] {
	z-index: 99;
	height: 100%;
	opacity: 0;
}

div.sheet-abilities {
	display: flex;
	padding: 0;
}

.sheet-abilities-col .sheet-abilities-header {
	font-weight: bold;
	font-size: 13px;
	height: 19px;
	color: white;
	background-color: #c9a800;
}

.sheet-abilities-col {
	width: 33%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	border: solid #c9a800;
	border-width: 1px 0 0;
}

div:last-of-type.sheet-abilities-col {
	border-right-width: 1px;
}

.sheet-abilities-col div {
	border: solid #c9a800;
	border-width: 0 0 1px 1px;
	padding: 2px;
	font-size: 10px;
	line-height: 25px;
	float: left;
}

.sheet-abilities-col div::first-line {
	line-height: 18px;
}

.sheet-abilities-col div div {
	width: 59.5%;
	padding: 0;
	border: 0;
}

.sheet-abilities-col input[type=number] {
	font-weight: bold;
	line-height: 16px;
	font-size: 12px;
	border-radius: 2px;
	text-align: right;
	padding: 0;
	width: 30px;
}

.sheet-abilities-col input[type=checkbox] {
	width: 12px;
	height: 12px;
	border: none;
	box-shadow: none;
	margin-right: 5px;
	opacity: .2;
	background: url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/occupation.png') no-repeat;
	background-size: contain;
	-webkit-appearance: none;
}

.sheet-abilities-col input[type=checkbox]:checked {
	opacity: 1;
}

.sheet-abilities-col span {
	font-size: 10px;
	font-weight: normal;
	float: right;
	line-height: 18px;
	width: 40%;
}

.sheet-abilities-col div ul {
	list-style-type: none;
	margin: 0 0 0 15px;
	font-style: italic;
	clear: both;
}

.sheet-abilities-col div ul li {
	padding-bottom: 4px;
	padding-top: 2px;
}

.sheet-abilities-col div ul li:first-of-type {
	padding-top: 4px;
}

.sheet-abilities-col div ul li:last-of-type {
	padding-bottom: 2px;
}

.sheet-cthulhu-container {
	width: 850px;
	font-family: 'Rockwell', 'Courier New', 'Times New Roman', serif;
	background: url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/background.png') no-repeat;
	background-size: cover;
}

.sheet-cthulhu-section { /* width: min: 120px; max: 630px; height: min: 150px; max: 900px; */
	background-image: url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/tl-corner.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/tr-corner.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/bl-corner.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/br-corner.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/top-side.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/bottom-side.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/left-side.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/right-side.png');
	background-position: left top, right top, left bottom, right bottom, center top, center bottom, left center, right center;
	background-repeat: no-repeat;
	background-size: auto, auto, auto, auto, 70% 56px, 70% 56px, 56px 80%, 56px 80%;
}