.sheet-container {
	padding: 15px;
}

.sheet-section,
.sheet-header { /* width: min: 120px; max: 630px; height: min: 150px; max: 900px; */
	display: inline-block;
	position: relative;
	margin: auto;
}

.sheet-header {
	margin-top: 20px;
}

.sheet-col1,
.sheet-col2 {
	clear: both;
	vertical-align: top;
}

.sheet-col1 {
	width: calc(25% - 15px);
	margin-right: 15px;
}

.sheet-col2 {
	width: calc(75% - 12px);
	margin-right: 0px;
}

.sheet-section .sheet-content {
	position: relative;
	height: auto;
	margin: 25px;
	padding: 2px;
	background-color: white;
}

.sheet-content table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	border: 2px solid #c9a800;
}

.sheet-content table td,
.sheet-content table th {
	padding: 6px 3px 3px;
	border: 2px solid #c9a800;
	width: 25%;
	font-size: 10px;
}

.sheet-content table tfoot td,
.sheet-content table th {
	font-size: 13px;
}

div.sheet-abilities {
	display: flex;
	flex-flow: row wrap;
	align-content: stretch;
	padding: 0;
}

.sheet-abilities-col .sheet-abilities-header {
	font-weight: bold;
	font-size: 13px;
	width: 100%;
	margin-bottom: 0px;
}

.sheet-abilities-col {
	width: 33%;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-content: stretch
	border: solid #c9a800;
	border-width: 1px 0 0;
}

div:last-of-type.sheet-abilities-col {
	border-right-width: 1px;
}

.sheet-abilities-col div {
	border: solid #c9a800;
	border-width: 0 0 1px 1px;
	padding: 3px;
	box-sizing: border-box;
	font-size: 11px;
	line-height: 24px;
}

div.sheet-languages {
	border-bottom-width: 0;
}

div.sheet-language {
	font-style: italic;
	padding-left: 20px;
	border-top: 1px solid white;
}

.sheet-cthulhu-container {
	width: 750px;
	height: 964px;
	font-family: 'Rockwell', 'Courier New', 'Times New Roman', serif;
	background: url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/background.png') no-repeat;
	background-size: 100%;
}

.sheet-cthulhu-section { /* width: min: 120px; max: 630px; height: min: 150px; max: 900px; */
	background-image: url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/tl-corner.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/tr-corner.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/bl-corner.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/br-corner.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/top-side.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/bottom-side.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/left-side.png'),
		url('https://raw.githubusercontent.com/wing-it/roll20-character-sheets/gumshoe/GUMSHOE/images/toc/right-side.png');
	background-position: left top, right top, left bottom, right bottom, center top, center bottom, left center, right center;
	background-repeat: no-repeat;
	background-size: auto, auto, auto, auto, 70% 56px, 70% 56px, 56px 80%, 56px 80%;
}